/* ----------Variables */

:root{
    --navyblue: #2E2F42;
    --white: #ffffff;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: #FCFCFC;
}

/* ----------Base styles */

body {
    background-color: var(--white, #ffffff);
    color: #434455;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* ----------Components style */

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.margin-top{
    margin-top: 120px;
}

.link{
    text-decoration: none;
}

.link:hover,
.link:focus{
    color: var(--ocean, #404BBF);
}

.list{
    list-style: none;
}

/* ----------Header */

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-header {
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-logo{
    text-decoration: none;
    color: var(--iris, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-span {
    color: var(--navyblue, #2E2F42);
}

.header-navigation .header-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.header-item{
    list-style-type: none;
}

.header-link{
    position: relative;
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.emphasis::after {
    position: absolute;
    top: 67px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--ocean, #404BBF);
}

.header-address{
    font-style: normal;
}

.header-address-list{
    display: flex;
    gap: 40px;
}

.header-address-item {
    list-style-type: none;
}

.header-address-link{
    text-decoration: none;
    color: var(--slate, #434455);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ----------Main */

.main-hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 600px;
    text-align: center;
    background: var(--navyblue, #2E2F42);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    padding: 188px 0;
}

.container-main-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-hero-title{
    max-width: 496px;
    color: var(--white, #ffffff);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

.main-hero-btn{
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #ffffff);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    margin-top: 48px;
}

.main-hero-btn:hover,
.main-hero-btn:focus{
    background-color: var(--ocean, #404BBF);
}

.backdrop {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: rgba(46, 47, 66, 0.40);
}

.modal {
    display: flex;
    justify-content: flex-end;
    padding: 32px;
    width: 408px;
    height: 584px;
    margin: 80px auto auto;
    border-radius: 4px;
    background: var(--dairy, #FCFCFC);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-btn {
    padding: 8px;
    width: 24px;
    height: 24px;
    fill: var(--cornflower, #E7E9FC);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* ----------Main (section-2) */

.main-advantages{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-advantages-list{
    display: flex;
    gap: 24px;
}

.main-advantages-item{
    list-style-type: none;
    width: calc((100% - 72px) / 4);
}

.main-advantages-icon{
    border-radius: 4px;
    background: var(--cloud, #F4F4FD);
    margin-bottom: 8px;
    width: 100%;
    height: 100%;
    max-width: 264px;
    max-height: 112px;
    display: inline-block;
}

.main-advantages-icon img{
    padding: 24px 100px;
}

.main-advantages-title{
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.mains-advantages-text{
    color: var(--slate, #434455);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ----------Main (section-3) */

.main-third-section{
    padding-bottom: 120px;
}

.main-t-s-title{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.main-t-s-list{
    display: flex;
    gap: 24px;
}

.main-t-s-item{
    list-style-type: none;
    width: calc((100% - 48px) / 3);
}

/* ----------Main (section-4) */

.main-team{
    background-color: var(--cloud, #F4F4FD);
    padding: 120px 0;
}

.main-team-title{
    margin-bottom: 72px;
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.main-team-list{
    display: flex;
    gap: 24px;
}

.container-main-team li{
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.main-team-item{
    list-style-type: none;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);

}

.container-item-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.main-team-names {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.main-team-text {
    color: var(--slate, #434455);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-icon {
    gap: 24px;
    display: flex;
}

.team-icon {
    background-color: var(--iris);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 11px;
}

.team-icon img {
    fill: var(--cloud);
}

/* ----------Main (section-5) */

.main-fifth-section ul {
    display: flex;
    padding-bottom: 120px;
}

.main-customers-list {
    padding: 16px 32px;
    border-radius: 4px;
    width: 168px;
    border: 1px solid var(--lightslate, #8E8F99);
    box-sizing: border-box;
}

.main-customers-list:not(:last-child) {
    margin-right: 24px;
}

.main-customers {
    padding-top: 120px;
    padding-bottom: 72px;
}

/* ----------Footer */

.footer {
    background-color: var(--navyblue, #2E2F42);
    min-height: 312px;
    padding: 100px 0
}

.container-footer {
    display: flex;
}

.container-footer>div:not(:last-child) {
    margin-right: 120px;
}

.footer-list-icon {
    display: flex;
    gap: 16px;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    color: var(--iris, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-span{
    color: var(--cloud, #F4F4FD);
}

.footer-text{
    color: var(--cloud, #F4F4FD);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px
}

.footer-title {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

/* ----------Portfolio */

.portfolio-section{
    padding: 96px 0 120px 0;
}

.portfolio-btn-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-btn-item{
    list-style-type: none;
}

.portfolio-btn{
    background: var(--cloud, #F4F4FD);
    color: var(--iris, #4D5AE5);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--ocean, #404BBF);
    color: var(--white, #ffffff);
    cursor: pointer;
    border:  1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-img-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-img-item{
    list-style-type: none;
    width: calc((100% - 48px) / 3);
    border: 1px solid var(--cornflower, #E7E9FC);
}

.portfolio-img-item:hover, .portfolio-img-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.box{
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 360px;
    background: var(--iris, #4D5AE5);
  
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .box:hover .overlay {
    transform: translatey(0);
  }

  .text-overlay {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
  }

.container-i-i{
    position: relative;
    border-top: none;
    z-index: 1;
    background-color: #fff;
}

.portfolio-i-i-title{
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-i-i-text{
    color: var(--slate, #434455);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
